@model MVC_Demo.Models.Student   
@{
    ViewData["Title"] = "Index1";
}

@* strongly typed view *@
<h1>Index1</h1>

 <h2>  Student Details are 
     ID :   @Model.Id <br/>
     Name : @Model.Name <br/>
     Batch : @Model.Batch <br/>
     MArks : @Model.Marks

 </h2>

